{% extends 'index.html' %}

{% block contents %}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.title.label(class="form-label") }} {{ form.title(class="form-control") }}<br>
                {{ form.note.label(class="form-label") }} {{ form.note(class="form-control") }}<br>
                {{ form.submit(class="btn btn-outline-primary btn-lg w-100") }}
            </form>
        </div>

    </div>


    {% endblock %}