{% extends 'index.html' %}
{% block contents %}
<section id="home">
    <div class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="d-flex align-items-center justify-content-center">
                <h1>Notes App</h1>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <a class="btn btn-lg btn-outline-primary btns" href="{{ url_for('login')}}" role="button">Log In</a>
                <a class="btn btn-lg btn-outline-primary btns" href="{{ url_for('signup')}}" role="button">Sign Up</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}